.shape {
  overflow: hidden;
}

.shape1 {
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
  
}
@media (min-width: 768px) {
  .shape1{
      height: 83vh;
  }
}
/* Estilo para el scrollbar */
.shape1::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

/* Estilo para el thumb del scrollbar */
.shape1::-webkit-scrollbar-thumb {
  background-color: #aaaaaa; /* Color de fondo del thumb */
  border-radius: 6px; /* Radio de borde del thumb */
}

/* Estilo para el thumb del scrollbar cuando está en hover */
.shape1::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de fondo del thumb al pasar el mouse */
}


.btn{
  background-color: #316497;
  color: white;
}
.btn:hover{
  background-color: white;
  color: #316497;
}