.shape {
}

.shape1 {
  overflow-y: scroll;
  height: 83vh;
  width: 100%;
  
}

/* Estilo para el scrollbar */
.shape1::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

/* Estilo para el thumb del scrollbar */
.shape1::-webkit-scrollbar-thumb {
  background-color: #aaaaaa; /* Color de fondo del thumb */
  border-radius: 6px; /* Radio de borde del thumb */
}

/* Estilo para el thumb del scrollbar cuando está en hover */
.shape1::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de fondo del thumb al pasar el mouse */
}